.hero > .container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 1.25rem;
}
.hero-text > .hi,
.hero-text > h2,
.hero-text > p {
  color: var(--text-muted);
}
.hero-text > h1 {
  color: var(--text-color);
  font-size: 3rem;
}
.hero-text > h2 {
  font-size: 2rem;
}
.hero-btns {
  display: flex;
  gap: 10px;
}
.hero-btns a {
}
